/*
 * PUBLIC PAGE STYLE
 */

 .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #E40716;
}

.nav-button {
    background-color: red;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.nav-item {
    position: relative;
}

.nav-button:hover + .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; 
    left: 0; 
}

.filemon-logo {
    background-image: url('https://images.squarespace-cdn.com/content/v1/64ca2a4354cbd66c6c8bf007/f67a2ae2-f615-4263-a71f-e11b1f26cbec/Logotipo_Filemo%CC%81n_simple_Mesa+de+trabajo+1+copia.png?format=1500w');
    background-size: cover; /* Ajustar el tamaño de la imagen manteniendo la proporción */
    width: 350px; /* Ajustar el ancho de la imagen */
    height: auto; /* Mantener la altura automática para mantener la proporción */
    display: inline-block;
    text-indent: -9999px;
}

/* .nav:hover {
    background-color: transparent;
} */